<div class="col-sm-12 col-md-offset-2 col-md-8">
<h1>How to set your goals for the next year the right way</h1>

<p>It’s the first week in January, it’s goal setting time. Yeah! <br>
Cure cancer, build the second Facebook, become an NBA star, make a mixtape like David Guetta… okay got it you are ready for big big challenges.
Your motivation is sky rocking high. <br><br>

Then I have a quick question for you. “Can you remember the goals you set for 2015?” <br>
Mostly likely you can’t or perhaps a few but not all of them and not in detail.
<br><br>
The thing is just setting your goals won’t help you much. I struggled with the same problem: Setting goals again and again without results. After listening to a lot of entrepreneur podcasts and reading a bunch of biographies I optimized my goal setting process. I want to describe you in detail how I personally set my <br>

<h2>Smart goal setting process</h2><br>

<h4>1. Create categories in your life</h4>
I have defined 5 categories for myself: Startup, Tech, Social, Academics and Personal. It helps to structure your <br><br>

<h4>2. Set goals for each category</h4>
I usually just use bullet points and less than 8 words to define a goal. I try to describe each goal as precise as. <br>

Example: Organize 3 short city trips with at least 5 friends <br><br>

<h4>3. Take each goal and map out a specific strategy</h4>
A strategy is a simple action plan how you want to accomplish your goal. Write down which resources who want to use, which people can help you. This helps you to really embrace every single of your goals. Sometimes you can’t describe a strategy. That’s fine, too. Don’t be to strict. <br><br>

<h4>4. Send your goals out to friends and schedule quarterly meetings</h4>
95% of my goals are not private. I pick a friend call him first, explain him the concept and ask him for confirmation. His task is pretty simple. I will send him/her two of my goals. He has to do one goal meeting per quarter with me. One meeting will take about 30 mins. We schedule all four meetings right after I send him my goals. Some of my friends are more engaging and contact me every other week and ask about my progress. Others just do the quarterly meeting - either way is fine. <br><br>

<h4>5. Upload your goals to DropBox</h4>
Each year I create a complete new DropBox account and upload my goal text files. One week before my quarterly meetings I schedule a meeting for myself and add the DropBox login data as a note to the meeting. This helps me not loose the login data und be well prepared for the quarterly meetings. <br><br>

<h4>6. Create a visionboard</h4>
In my last step a create a vision board in A3 size with all my goals. I usually spend around 10 minutes per day with my vision board. 2 minute in the morning to set the right goals for the day and 8 minute at night to reflect the day. Be creative and have fun! <br><br>

Let’s make 2016 our personal success year! <br><br>


If you have questions just shot me an email!

<br><br>
</p>


</div>
