<div class="col-sm-12 col-md-offset-2 col-md-8">
<h1>Introduction</h1>
<p>
In this article I will describe my thoughts about why I want to start a company. Over the time, when I get more mature the reasons will inevitably change. Therefore this article is setup as an never ending story. You can see at the date, when I a new piece was added.
I think it’s pretty fun to see what I thought a couple of years from now. Hopefully, it’s somehow useful for you as well. If you have questions or just want to start a discussion about that topic just shoot me an email.
</p>

<h1>Why do I want to start a company?</h1>
<p>
There is not just one reason but it’s rather a combination of several factors that make me want to start a company.
Besides the plain reasons, the level of certainty in my decision can be interesting also. So let’s get started with day #1.
</p><br><br>
<p class="date-article">
12/27/2015
</p>
<h3>
  Level of certainty: 100%
</h3><br>
<h3>1. Ideas <i class="fa fa-arrow-right"></i> reality </h3>
<p>
I consider myself as an idea guy. In most cooperate cultures you are very limited in terms of introducing your own ideas. Even at smaller companies, if there is no personal fit, it’s difficult to see your ideas come reality. That is the number #1 reason why I want to be my own boss.
</p>
<h3>2. Best use of my skills & mind set</h3>
<p>
So far when I worked or interned in a cooperate environment I always felt like a jet plane in the body of Ford Focus - totally weird.
I just couldn’t use all my skills because of restrictive rules.
That would definitely change when I start my own company.
</p>

<h3>3. Financial independence before 30 </h3>
<p>
To be financially independent is a big goal for me. Almost everything in our society is related to money. I want to have financial freedom as early as possible. What does that mean for me? A passive income of $250k per year. I know that’s way more than the average American earns per year. The number is so high, because I want to able to provide my family a complete normal life in a major city like New York with all activities included.
Ok so I want to receive $250k passively each year. Let’s assume the tax rate is 30%, conservative rate of return of 4% minus 2% for inflationary adjustment. Therefor I calculate with a return rate of only 2% after inflationary adjustment. Then I need an initial investment of $16.25 Mio. for $250k passive income. That’s a lot and is impossible to achieve as an normal employee.
</p>
<p></p>
<h3>4. Live by my own rhythm </h3>
<p>
This point definitely needs further explanation.
I was lucky enough to figure out that I perform much better
if I follow my own rhythm in life. That sounds obvious but the
majority of the people I know doesn’t know it or they just don’t
care being out of rhythm. So what does it actually mean? Can you remember when you were in school and you were forced to do literature on a Friday afternoon. It felt completely worthless because you could only think about the cool activities you will go on the weekend. Makes sense. Then suddenly On Sunday morning you hear a bird singing, your heart is opening and all you want to do is writing a beautiful literature essay. Suddenly it feels easy and makes fun - you are in the right mood and in your rhythm. It’s the same for sports, university, business, etc. Everybody has its own rhythm. In a big company you usually have less influence on your assigned tasks and your schedule. Some people just accept that and get used to be out of rhythm all the time. I don't want to accept that. I want to perform at 100% all the time, therefore I have to listen to my body and adjust my tasks and my schedule according to my rhythm. Starting my own company offers a much better environment to live by own rhythm. Of course it won't work out all the time, but at least better then everywhere else.
</p>

<h3>5. Startup = Huge Challenge </h3>
<p>
That’s simple. I compare myself to others all the time. I just really love challenges. I guess besides finding your soulmate, starting a company is the ultimate challenge in life.
</p>

</div>
