<div class="name row text-center">
  <h1>Jan-Hendrik Ruettinger</h1>
</div>

<div class="general row">
  <div class="row">
    <div class="col-sm-12 col-md-offset-3 col-md-6"><h2>general</h2></div>
  </div>
  <div class="general-list row">
    <div class="col-sm-12 col-md-offset-3 col-md-6">

    <%= link_to('Info', controller: 'pages', action: 'info') %><br>
      <a href="https://de.linkedin.com/in/janruettinger">Linkedin</a><br>
      <a href="https://github.com/JanRuettinger">Github</a><br>
      contact: jan-hendrik.ruettinger@online.de
    </div>
   </div>
</div>

<div class="blog row">
  <div class="row">
    <div class="col-sm-12 col-md-offset-3 col-md-6"><h2>blog</h2></div>
  </div>

  <div class="blog-list row">
    <div class="col-sm-12 col-md-offset-3 col-md-6">
    <div class="col-sm-8"><%= link_to('Why do I want to start a company?', controller: 'articles', action: 'startup1') %></div><div class="col-sm-4"> <i class="startup">STARTUP</i></div>
    <div class="col-sm-8"><%= link_to('How to set your next year goals the right way', controller: 'articles', action: 'life1') %></div><div class="col-sm-4"> <i class="life">LIFE</i></div>
    <div class="col-sm-8"><%= link_to('My favorite books of 2015', controller: 'articles', action: 'life1') %></div><div class="col-sm-4"> <i class="tech">TECH</i></div>
    </div>
  </div>

</div>

<div class="projects row">
  <div class="row">
    <div class="col-sm-12 col-md-offset-3 col-md-6"><h2>projects</h2></div>
   </div>

  <div class="project-list row">
    <div class="col-sm-12 col-md-offset-3 col-md-6">
      Coming Soon!<br>
      Coming Soon!<br>
      Coming Soon!<br>
  <!--     Website Schueler Union Bayern<br>
      Hackathon: Makeithappen <br> -->
    </div>
  </div>

</div>
