<div class="row">
  <h1 class="text-center">Info</h1>
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
  <p class="text-center">


  Hello my name is Jan-Hendrik Ruettinger. <br>
  I was born in Erlangen, Germany. <br> <br>

  My passions are startups, tech, politics, sports (esp. running). <br><br>

  Right now, I am a Junior majoring in Eletrical Engineering. <br><br>

  After finishing my studies I want to move to Silicon Valley and pursue my passion being an Entrepreneur.

  </p>


  </div>
</div>
